footer {
    background-color: #323232;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Estilos para el texto a la derecha */
.right-text {
    margin-right: 10px;
}

