.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #910505;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: rgb(255, 0, 0);
}

.button{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

#openModalBtn{
    padding: 10px 24px;
    background-color: #145493;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#openModalBtn:hover{
    background-color: #052647;
}